ul {
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

ul a {
    border-bottom: 1px solid #191919;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2.5rem;
    align-items: flex-start;
}

.eightyeightthirtyone {
    image-rendering: pixelated;
}
